log file = /var/log/rsyncd.log
lock file = /var/run/rsyncd.lock
timeout = 1800
read only = true
# the generic uid should be nobody. otherwise, an exploit will lead
# to direct privilege escalation.
uid = nobody
gid = nogroup

[phpweb]
        path = /local/mirrors/phpweb
        comment = PHP Web Site     (Approximately 1G)
    hosts deny = 62.234.27.113
    include = distributions/*.exe

[php-gtk-web]
        path = /local/mirrors/php-gtk-web
        comment = PHP-GTK Website

[peclweb]
        path = /local/mirrors/peclweb
        comment = PECL Website

[qaweb]
        path = /local/mirrors/qaweb
        comment = PHP QA Website

[php-bugs-web]
        path = /local/mirrors/php-bugs-web
        comment = PHP Bugs Website

[php-master-web]
        path = /local/mirrors/php-master-web
        comment = PHP Master Website

[php-main-web]
        path = /local/mirrors/php-main-web
        comment = PHP Main Website

[php-people-web]
        path = /local/mirrors/php-people-web
        comment = PHP People Website

[php-news-web]
        path = /local/mirrors/php-news-web
        comment = PHP News Website

[embed-web]
        path = /local/mirrors/embed-web
        comment = PHP Embedded SAPI Website

[talks]
    path = /local/mirrors/talks
    comment = PHP Presentations

[rmtools]
    path = /local/mirrors/php-rmtools
    comment = Release Manager Tools

[wiki]
    path = /local/mirrors/php-wiki
    comment = PHP Wiki

