#######################################################################
# DNS checks
#######################################################################

define service {
 use default-service
 host_name ns1.easydns.com
 service_description DNS
 check_command check_dig!ns1.easydns.com
}

define service {
 use default-service
 host_name remote1.easydns.com
 service_description DNS
 check_command check_dig!remote1.easydns.com
}
